/* Webfont: Berton-Light */@font-face {
    font-family: 'Berton';
    src: url('Berton-Light.eot'); /* IE9 Compat Modes */
    src: url('Berton-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Berton-Light.woff') format('woff'), /* Modern Browsers */
         url('Berton-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Berton-Light.svg#Berton-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

