/* Webfont: Berton-Thin */@font-face {
    font-family: 'BertonMed';
    src: url('Berton-Thin.eot'); /* IE9 Compat Modes */
    src: url('Berton-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Berton-Thin.woff') format('woff'), /* Modern Browsers */
         url('Berton-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Berton-Thin.svg#Berton-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

