@import url('https://fonts.googleapis.com/css?family=Aleo|Righteous');

@font-face {
  font-family: 'Berton-Regular';
  src: url('fonts/Berton-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Berton-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Berton-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Berton-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Berton-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Berton-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

*{
    font-family: 'Aleo', serif;
    font-weight: 600;
    line-height: 1.5;
}


body, html {
  height: 100%;
}


body {
    margin:0
}



/* BEGIN NAVBAR */
.topnav {
    overflow: hidden;
    background-color: #477B12;
    width:100%;
    z-index: 6;
}

.topnav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #333;
    color: white;
}

.topnav a:hover {
    background-color: #333;
    color: #DDD ;
}

.topnav .icon {
    display: none;
}
/* END NAVBAR */








.one{
    background: url(images/supply/back.jpg) no-repeat;
    background-size:cover;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo{
    max-height: 30%;
    max-width: 30%;
}






 















.welcome{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    text-align: center;
    
}

.introp{
    padding: 5% 0;
    background: url(images/about/grade2.jpg);
    background-size:cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img-one, .blurb-one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
}

.img-one{
    -webkit-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    width: 45%;
}

.header{
    font-size: 3rem;
    margin-top: 50px;
}






.intro2{
    padding: 5%;
    margin: 100px 0;
}





.blurb{
    font-size: 2.5rem;
    width:85%;
}
































.three{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin: 0 100px;
    margin-bottom: 100px;
    padding: 50px 0;
    background: url(images/about/grade3.jpg);
    background-size:cover;
}


.sliderOne{
    position: relative;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    text-align: center;
    -webkit-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    
}

.mySlides{
    
    max-width: 1000px;
}

.prev, .next {
    cursor: pointer;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    position: relative;
    background-color: #222222;
    z-index: 10;
    height: 150px;
    width: 42px;
    border: none;
}

/* Position the "next button" to the right */
.next {
    left: -42px;
    
}

.prev{
    left:42px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    opacity: .6;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    
}








.fade {
    
    -webkit-animation: fade .5s forwards;
    animation: fade .5s forwards;
}
    

@-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}




























footer{
	bottom:0;
    background-color: #222222;
    width:100%;
    color:white;
    padding-top:10px;
}

.footer{
    text-align: center;
    min-height:30px;
    font-size: 1.1em;
}

p a{
    color:white;
}

p a:hover{
    color:#477B12;
    text-decoration: overline;
}




















/* NAVBAR */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: absolute;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




















@media screen and (min-width: 320px) and (max-width:580px) {
    #page {
        
    }
}

@media screen and (max-width:1400px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    
    .one{
        height: 40vh;
    }
    .introp{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .img-one, .blurb-one{
        margin-bottom: 5%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .three{
        margin: 30px 0;
        padding: 30px 0;
    }
    .prev, .next{
        opacity: .6;
        width: 25px;
        padding: 10px;
    }
    .prev{
        left:25px
    }
    .next{
        left:-25px
    }
    .blurb{
        width: 100%;
    }
    
}

@media screen and (max-width:959px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .logo{
        max-height: 80%;
        max-width: 80%;
    }
    
    .one{
        height: 40vh;
    }
    .introp{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .img-one, .blurb-one{
        margin-bottom: 5%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .three{
        margin: 30px 0;
        padding: 30px 0;
    }
    .prev, .next{
        opacity: .6;
        width: 25px;
        padding: 10px;
    }
    .prev{
        left:25px
    }
    .next{
        left:-25px
    }
    .blurb{
        width: 100%;
    }
    
    
}

@media screen and (max-width:640px) {
    .container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .logo{
        max-height: 60%;
        max-width: 60%;
    }
    
    .one{
        height: 40vh;
    }
    .introp{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .img-one, .blurb-one{
        margin-bottom: 5%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .three{
        margin: 30px 0;
        padding: 30px 0;
    }
    .prev, .next{
        opacity: .6;
        width: 25px;
        padding: 10px;
    }
    .prev{
        left:25px
    }
    .next{
        left:-25px
    }
    .blurb{
        width: 100%;
    }
    
    
}

@media screen and (max-width:360px) {
    ..container-fluid {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .logo{
        max-height: 60%;
        max-width: 60%;
    }
    
    .one{
        height: 40vh;
    }
    .introp{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .img-one, .blurb-one{
        margin-bottom: 5%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .three{
        margin: 30px 0;
        padding: 30px 0;
    }
    .prev, .next{
        opacity: .6;
        width: 25px;
        padding: 10px;
    }
    .prev{
        left:25px
    }
    .next{
        left:-25px
    }
    .blurb{
        width: 100%;
    }
    
    
}

@media screen and (max-width:320px) {
    .container-fluid {
        width: 320px;
    }
    body {
        width: 100%;
    }
    .logo{
        max-height: 50%;
        max-width: 50%;
    }
    
	footer{
		font-size:3em;
	}
    .one{
        height: 40vh;
    }
    .introp{
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
    .img-one, .blurb-one{
        margin-bottom: 5%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .three{
        margin: 30px 0;
        padding: 30px 0;
    }
    .prev, .next{
        opacity: .6;
        width: 25px;
        padding: 10px;
    }
    .prev{
        left:25px
    }
    .next{
        left:-25px
    }
    .blurb{
        width: 100%;
    }
    
}


