/* Webfont: Brycen-Thin */@font-face {
    font-family: 'BrycenThin';
    src: url('Brycen-Thin.eot'); /* IE9 Compat Modes */
    src: url('Brycen-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brycen-Thin.woff') format('woff'), /* Modern Browsers */
         url('Brycen-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brycen-Thin.svg#Brycen-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

