/* Webfont: Brycen-Black */@font-face {
    font-family: 'BrycenMed';
    src: url('Brycen-Black.eot'); /* IE9 Compat Modes */
    src: url('Brycen-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brycen-Black.woff') format('woff'), /* Modern Browsers */
         url('Brycen-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brycen-Black.svg#Brycen-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

