/* Webfont: Brycen-BlackItalic */@font-face {
    font-family: 'BrycenMed';
    src: url('Brycen-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('Brycen-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brycen-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('Brycen-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brycen-BlackItalic.svg#Brycen-BlackItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

