/* Webfont: Brycen-Regular */@font-face {
    font-family: 'Brycen';
    src: url('Brycen-Regular.eot'); /* IE9 Compat Modes */
    src: url('Brycen-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brycen-Regular.woff') format('woff'), /* Modern Browsers */
         url('Brycen-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brycen-Regular.svg#Brycen-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

