/* Webfont: Brycen-LightItalic */@font-face {
    font-family: 'BrycenLight';
    src: url('Brycen-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Brycen-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brycen-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Brycen-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brycen-LightItalic.svg#Brycen-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

