/* Webfont: Mahlon-Regular */@font-face {
    font-family: 'Mahlon';
    src: url('Mahlon-Regular.eot'); /* IE9 Compat Modes */
    src: url('Mahlon-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Mahlon-Regular.woff') format('woff'), /* Modern Browsers */
         url('Mahlon-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Mahlon-Regular.svg#Mahlon-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

