/* Webfont: Zack-Regular */@font-face {
    font-family: 'ZackRegular';
    src: url('Zack-Regular.eot'); /* IE9 Compat Modes */
    src: url('Zack-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zack-Regular.woff') format('woff'), /* Modern Browsers */
         url('Zack-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Zack-Regular.svg#Zack-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

